@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf');
}

body {
  font-family: 'Montserrat', sans-serif;
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
  background-color: #14181d;
  color: white;
}

nav .navbar-nav .active {
  color: #e0f300;
}

.home-section .carousel button {
  width: 100%;
}

.heroes-section .top-section {
  border-radius: 12px;
}

.heroes-section .top-section img {
  border-radius: 12px;
}

.heroes-section .top-section .spec .item {
  border-radius: 12px;
  background-color: #e0f300 !important;
  color: black;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
  margin: 5px 0px 5px 0px;
}

@media screen and (min-width: 768px) {
  .heroes-section .top-section .spec .item:nth-child(odd) {
    margin-right: 8px;
  }

  .heroes-section .top-section .spec .item:nth-child(even) {
    margin-left: 8px;
  }
}

.heroes-section .mid-section .content-mid .box-card {
  border-radius: 12px;
  color: #e0f300;
  min-height: 100%;
}

.heroes-section .mid-section h3 {
  font-weight: 800px !important;
}

.heroes-section .mid-section .content-mid .box-card .btn,
.heroes-section .mid-section button,
.btn-primary {
  background-color: #e0f300;
  color: black;
  font-weight: bold;
  border: none;
}

.heroes-section .mid-section .content-mid .box-card .btn:hover,
.heroes-section .mid-section button:hover,
.btn-primary:hover {
  background-color: #b0c000;
  color: black;
  font-weight: bold;
}

.btn-primary:active {
  background-color: #b0c000;
  box-shadow: none;
  border: 0px;
}

.btn-primary:focus {
  background-color: #b0c000;
  box-shadow: none;
  border: 0px;
}

.btn-primary:active:focus {
  background-color: #b0c000;
  box-shadow: none;
  border: 0px;
}

footer {
  background-color: #1c2025;
}

footer .bi {
  color: #e0f300;
}

.developer-section .bi {
  color: #e0f300;
}

.exchange-section .exchange-img {
  width: 24px;
  height: 24px;
  margin-right: 5px;
}

.exchange-section .text-primary {
  color: #e0f300 !important;
}

.how-to-play-section .top-section {
  border-radius: 12px;
}

.developer-section .top-section {
  border-radius: 12px;
}
